<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>


    <li>
        <a routerLink="">
            <i class="fa fa-dashboard "></i> <span>Dashboard</span>
            <span class="pull-right-container "></span>
        </a>
    </li>

    <li>
        <a routerLink="clinic">
            <i class="fa fa-file "></i> <span>ข้อมูลคลินิก</span>
            <span class="pull-right-container "></span>
        </a>
    </li>

    <li>
        <a routerLink="customer">
            <i class="fa fa-user "></i> <span>ทะเบียนลูกค้า</span>
            <span class="pull-right-container "></span>
        </a>
    </li>

    <li>
        <a routerLink="pet">
            <i class="fa fa-globe "></i> <span>สัตว์เลี้ยง</span>
            <span class="pull-right-container "></span>
        </a>
    </li>

    <li>
        <a routerLink="repair">
            <i class="fa fa-pencil "></i> <span>บันทึกการรักษา</span>
            <span class="pull-right-container "></span>
        </a>
    </li>


    <li>
        <a routerLink="medicine">
            <i class="fa fa-briefcase"></i> <span>เวชภัณฑ์</span>
            <span class="pull-right-container "></span>
        </a>
    </li>

    <li>
        <a routerLink="report">
            <i class="fa fa-book "></i> <span>รายงาน</span>
            <span class="pull-right-container "></span>
        </a>
    </li>


</ul>
